@model IEnumerable<HRManagement.DataAccess.Models.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<button>
    @Html.ActionLink("NEW", "Create")
</button>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
    </tr>
}

</table>
